
*.editorconfig
Kurs/.vs/Kurs/v16/.suo
*.cache
*.sln
Kursovik/.vs/Kursovik/v16/.suo
*.v2
*.csproj
*.json
Kurs/Kurs/obj/Debug/net5.0/Kurs.AssemblyInfo.cs
Kurs/Kurs/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.props
Kursovik/Kursovik/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Kursovik/Kursovik/obj/Debug/net5.0/Kursovik.AssemblyInfo.cs
Kursovik/Kursovik/obj/Kursovik.csproj.nuget.g.targets
Kursovik/Kursovik/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Kursovik/Kursovik/obj/Release/net5.0/Kursovik.AssemblyInfo.cs
Kurs/Kurs/obj/Kurs.csproj.nuget.g.targets
